@charset "UTF-8";
* { 
    font-family: Arial, Helvetica, sans-serif;
    }

    body {
        background-image: linear-gradient(to right, #DCD6F7, #A6B1E1);
    }

    main {
        background-color: #B4869F;
        border-radius: 10px;
        box-shadow: 5px 5px 15px #985f6fa1;
        width:700px;
        padding: 10px;
        margin: auto;
        }

    h1 {
        color: #492e35d2;
        text-align: center;
        text-shadow: 1px 1px 2px #4e4c67a8;
    }

    h2 {
        color: #353446c2;
    }

    h3 {
        color: #4e4c61cc;
    }


    p {
        text-align: justify;
    }